.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: rgb(80, 86, 147);
}

.white {
	background-color: rgb(146, 146, 146);
}

.selected {
	background-color: rgb(47, 33, 180);
}

.available {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: aqua;
}

.lost {
	height: calc(50vh - 60px);
	padding: 2rem;
	margin-left: 3rem;
	background-color: lightslategray;
}
